<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Albums</title>
  </head>
  <body>
    <% albums.forEach(album => { %>
      <div>
        <h2><%= album.name %></h2>
        <% if (album.images.length > 0) { %>
          <img src="<%= album.images[0].url %>" alt="<%= album.name %>">
        <% } %>
        <a href="/tracks/<%= album.id %>">View Tracks</a>
      </div>
    <% }); %>
  </body>
</html>